# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

#### Define style ####

# All files
[*]
indent_style = space

# C# Project files
[*.csproj]
indent_size = 2

#### Suppress warnings ####

# C# files
[*.cs]

