# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

#### Define style ####

# All files
[*]
indent_style = space

# C# Project files
[*.csproj]
indent_size = 2

#### Suppress warnings ####

# C# files
[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1040: Avoid empty interfaces
dotnet_diagnostic.CA1040.severity = none    # Sometime they are needed

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none    # Doing extensive use of dependency injection

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none    # There are currently too much missing descriptions
